p {
    text-align: justify;
}

.main {
    padding: 25px;
}
.sector > .row {
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .image {
        max-height: 75%;
        height: 60%;
    }
}

@media only screen and (min-width: 600px) {
    .image {
        width: 75%;
    }
}