<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand main" routerLink="/SobreMi">[JDC]</a>
  <div class="collapse navbarA">
    <div class="navbar-nav navbarB">
      <a class="nav-item nav-link active"> <i class="fas fa-user icons"></i><span class="text">Sobre Mi</span></a>
      <a class="nav-item nav-link disabled"> <i class="fas fa-code icons"></i><span class="text">Desarrollo
          Web</span></a>
      <a class="nav-item nav-link disabled"> <i class="fas fa-drafting-compass icons"></i><span class="text">Diseño
          Gráfico</span></a>
      <a class="nav-item nav-link disabled" tabindex="-1" aria-disabled="true">
        <i class="fas fa-angle-double-right icons"></i><span class="text">Más</span>
      </a>
    </div>
  </div>
</nav>