<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/SobreMi">[JDC]</a>

    <div class="collapse navbar-collapse navbarA" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active">SobreMi <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link disabled" >Desarrollo Web</a>
        <a class="nav-item nav-link disabled" >Diseño Gráfico</a>
        <a class="nav-item nav-link disabled" tabindex="-1" aria-disabled="true">Más</a>
      </div>
    </div>
  </nav>